# Local SQLite DB files
interview_app.db
instance/*.db

# Python caches
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Uploads and runtime created files
static/uploads/
*.sqlite3

# OS files
.DS_Store
Thumbs.db
