<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f7f7f7; padding:20px;">
    <div style="max-width:600px; margin:auto; background:white; padding:20px; border-radius:10px;">
        <h2 style="color:#0b6efd;">Thank You for Applying!</h2>

        <p>Dear {{ name }},</p>

        <p>
            Thank you for applying at <b>Accord Hospitals</b>.
            Your application for the position of 
            <b>{{ position }}</b> has been successfully received.
        </p>

        <p>
            Our HR Team will review your details and contact you soon.
        </p>

        <br>
        <p>Regards,<br>
        <b>Accord HR Team</b></p>
    </div>
</body>
</html>
