{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow p-4">
            <h3 class="text-center mb-3">HOD Registration</h3>
            <p class="text-center text-muted mb-3">Your account must be approved by HR before you can log in.</p>

            <form method="POST" action="/register">

                <div class="mb-3">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter full name" required>
                </div>

                <div class="mb-3">
                    <label>Email (Official)</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter official email" required>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Create a password" required>
                </div>

                <button class="btn btn-primary w-100 mt-2">Register</button>

            </form>

            <div class="text-center mt-3">
                <small>Already registered? <a href="/login">Login</a></small>
            </div>

        </div>

    </div>
</div>
{% endblock %}
