{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-lg-7 col-md-9">

        <div class="card shadow-lg p-5 text-center">

            <div class="mb-4">
                <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" width="90">
            </div>

            <h2 class="fw-bold text-success">Application Submitted!</h2>
            <p class="text-secondary mt-3 mb-4">
                Thank you <strong>{{ name }}</strong> for applying.<br>
                Our HR team will review your application and contact you soon.
            </p>

            <a href="/" class="btn btn-primary w-50">Go Back to Home</a>

        </div>

    </div>
</div>

{% endblock %}
